{% extends 'base.html' %}

{% block content %}

<style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
      min-width: 200px;
      max-width: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
    .city {
      color: black;
      margin: 5px;
      padding: 10px;
}
  </style>
</head>
<body>
<div class = "city">
  <p>
    <h5 class="small-title">{{animes.title}}</h5>
  
  </p>
</div>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <img src= "{{animes.images.jpg.image_url}}" class="card-img-left" alt="anime Thumbnail">
      </ul><br>
      
    </div>

    <div class=" col-sm-9">
      <ul class="list-group">
        <li class="list-group-item">Type: {{animes.type}}</li>
        <li class="list-group-item">Episodes: {{animes.episodes}}</li>
        <li class="list-group-item">Genres: 
          {% for genres in animes.genres %}
            {{genres.name}} 
          {% endfor %}</li>
        <li class="list-group-item">Status: {{animes.status}}</li>
        <li class="list-group-item">Studios:
          {% for studios in animes.studios %}
            {{studios.name}} 
          {% endfor %}
        </li>
        <li class="list-group-item">
          {% if animes.aired.prop.to.year %}
            Aired: {{animes.aired.prop.from.year}} to {{animes.aired.prop.to.year}}
          {% else %}
            Aired: {{animes.aired.prop.from.year}} to ? 
          {% endif %}
        </li>
      </ul>
      <div>
        <p></p>
      </div>
      <h3><small>Synopsis</small></h3>
  
      <p class="d-flex">{{animes.synopsis}}</p>

    </div>
  </div>
</div>


{% endblock content %}