{% extends 'base.html' %}

{% block content %}

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Anime Library</h1>
      <p class="lead text-muted">Search your favorite anime</p> 
      <p>
        <form class="d-flex" method=POST action ="{% url 'home' %}"> {% csrf_token %}
          <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search">
        </form>
        <!-- <button type="button" class="btn btn-sm btn-outline-primary">Search</button> -->
      </p>
    </div>
  </div>
</section>



<div class="album py-5 bg-light">
  
  <div class="container">
    
    <div>
      {% if search %}
      <p class="fw-light">
        Results for "{{search}}"
      </p>
      {% else %}
      <h5>
        TOP Animes
      </h5>
      {% endif %}
      
    </div>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-5 g-4">
          {% for animeinf in animes %}
              {% include 'snippets/anime_card.html' with variavel=animeinf %}
          {% endfor %}
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


{% endblock content %}