<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Anime Library</h1>
        <p class="lead text-muted">Search your favorite anime</p>
        <p>
          <form class="d-flex" method=GET action ="{% url 'home' %}">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search">
          </form>
          <!-- <button type="button" class="btn btn-sm btn-outline-primary">Search</button> -->
        </p>
      </div>
    </div>
</section>