
      
<div class="col">
    <div class = "newcard">
        <div class="card shadow-sm">
            <img src= "{{variavel.images.jpg.image_url}}" class="card-img-top" alt="anime Thumbnail">
            <div class="card-body">
                <p class="card-text">{{variavel.title}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">Score {{variavel.score}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
