{% extends 'base.html' %}

{% block content %}

<style>

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
        justify-content: space-between;
      }
      
      .form-signin .checkbox {
        font-weight: 400;
      }
      
      .form-signin .form-floating:focus-within {
        z-index: 4;
      }
      
      .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      
      .form-signin input[type="password"] {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    </style>  
    
    <link href="signin.css" rel="stylesheet">
    
    
    <body class="text-center">
        <main class="form-signin">
            
            <form method="post"> {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Create an account</h1>

                <div class="form-floating">
                    <input type="email" name="email" class="form-control" id="inputEmail" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>

                <div class="form-floating">
                    <input type="username" name="username" class="form-control" id="InputUsername" placeholder="Username">
                    <label for="floatingPassword">Username</label>
                </div>

                <div class="form-floating">
                    <input type="password" name="password1" class="form-control" id="InputPassword1" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
            
                <div class="form-floating">
                    <input type="password" name="password2" class="form-control" id="InputPassword2" placeholder="PasswordConfirmation">
                    <label for="floatingPassword">Password confirmation</label>
                </div>

                {% if field.help_text %}
                    <small style="color: grey;">{{field.help_text}}</small>
                {% endif %}

                {% for field in registration_form %}
                    <p>
                        {% for error in field.errors %}
                            <p style="color: red;">{{error}}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
                    
                {% if registration_form.non_field_errors %}
                    <div style="color: red;">
                        <p>{{registration_form.non_field_errors}}</p>
                    </div>
                {% endif %}
                
    
                <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
            </form>
    
        </main>
    </body>

{% endblock content %}